# Example environment variables
TEMP_DIR=./tmp

# ChromaDB Cloud settings
CHROMA_HOST=api.trychroma.com
CHROMA_PORT=443
CHROMA_COLLECTION=getmee_docs_dev
CHROMA_API_KEY=your_chroma_api_key
CHROMA_TENANT=your_chroma_tenant_id
CHROMA_DATABASE=your_chroma_database
